/*  공통요소  */

body {
  background: #f3ebe8;
  font-family: 'pretend';
  color: #ff1937;
  /* line-height: inherit; */
  /* font-family: "Gotham A", "Gotham B", Helvetica, sans-serif; */
}

button {
  background: inherit;
  border: none;
  box-shadow: none;
  border-radius: 0;
  padding: 0;
  overflow: visible;
  cursor: pointer
}
.blind {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  margin: -1px;
  clip: rect(0 0 0 0);
}

.common-inner {
  margin: 0 7.2%;
  padding-left: calc(-1.1vw * 2);
  padding-right: calc(-1.1vw * 2);
  position: relative;
}
